:root {
    --fg-color: black;
    --header-fg-color: rgb(255, 255, 255);
    --fg-color-2: orange;
    --page-color: white;
    --header-color: indigo;
    --section-color: green;
    --padding: 3em;
    --padding-sides: 4em;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-width: 300px;
    margin: 0;
    background-color:  dimgray;
}

a {
    color: var(--fg-color-2);
}

div.page {
    max-width: 1000px;
    margin: auto;
}

section.header {
    display: flex;
    flex-direction: column;
    background-color: var(--header-color);
    padding: var(--padding) var(--padding-sides);
    color: var(--header-fg-color); 
    border-bottom: 5px solid var(--fg-color-2);
}
section.footer {
    display: flex;
    background-color: var(--header-color);
    color: var(--header-fg-color); 
    border-top: 5px solid var(--fg-color-2);
    min-height: 50px;
}

section.footer div {
    margin: auto;
}


div.headerMain {
    display: flex;
    justify-content: space-between;
    padding-bottom: var(--padding);
}
div.headerMain .leftBox {
    display: flex;
    justify-content: flex-start;
}

#photo {
    padding-right: 10px;
}

section.mainTable {
    display: table;
    box-sizing: border-box;
    width: 100%;
    flex-direction: column;
    background-color: var(--page-color);
    padding: var(--padding) var(--padding-sides);
}

.pageItem {
    display: block;
    box-sizing: border-box;
    padding-bottom: var(--padding);
    /* border: 1px solid black; */
}

.listEntry {
    /* box-sizing: border-box; */
    background-color: aliceblue;
    border-left: 5px solid powderblue;
    padding: 0.5em;
    border-radius: 5px;
}
.sectionTitle {
    /* padding-right: 1em; */
    padding-bottom: 3px;
    color: var(--section-color);
    /* font-weight: bold; */
    font-size: 150%;
    border-bottom: 2px solid var(--section-color);
    font-family: "gill sans";
    text-transform: uppercase;
    /* border-left: 2px solid var(--section-color); */
    /* border-radius: 25px; */

}
.tableRow {
    display: table-row;
}
.tableCell {
    display: table-cell;
    min-width: 200px;
    /* padding-right: 2em; */
    padding-top:1em;
}

div.address{
    text-align: right;
}

#personal-name {
    font-size: 2em;
    font-weight: bold;
}
#personal-motto {
    font-style: italic;
}

.pageItem p {
    margin: 0;
}

p.titleItem {
    font-weight: bold;
    color: var(--header-color);
}
p.skillsItem {
    font-style: italic;
}
p.dateItem {
    font-style : italic;
}
p.whereItem {
    font-weight: bold;
}


/* Responsive
==================================== */
@media all and (max-width: 700px) {
    :root {
        --padding: 2em;
        --padding-sides: 1em;
    }
    .tableCell{
       display: block; 
       padding:0;
    }
    .tableRow{
        display: block; 
        padding-top: 1em;
     }
     div.headerMain {
        flex-direction: column;
     }
     div.headerMain .leftBox {
        flex-direction: column;
        justify-content: flex-start;
    }
     div.headerMain {
        text-align: center;
    }
    div.address {
        text-align: center;
        padding-top: 1em;
    }
    p.whereItem {
        display: inline-block;
        padding-right: 1em;
    }
    p.dateItem {
        display: inline-block;
    }
}